.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.hidden {
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .hidden {
    transform: translateX(0);
  }
}
