.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Remove the .hidden class */