<div class="flex" style="width: 100%">
  <!-- Sidebar -->
  <div
    class="sidebar shadow-1 fixed"
    [@sidebarState]="navbarDisplay ? 'open' : 'closed'"
    style="position: absolute; left: 0; top: 0; bottom: 0"
  >
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Content -->
  <div
    class="main-content min-h-screen"
    style="background-color: rgb(241, 241, 241)"
    [@mainContentState]="navbarDisplay ? 'open' : 'closed'"
  >
    <!-- Topbar with Toggle Button -->

    <app-topbar (navbarEventEmitter)="handleNavbarToggle($event)"></app-topbar>
    <app-right-sidebar></app-right-sidebar>
    <div class="mt-4 container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
