<div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible" position="right">
    <h3>Sidebar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <app-theme-switcher> </app-theme-switcher>
  </p-sidebar>
  <p-button
    (onClick)="sidebarVisible = true"
    styleClass="fixed right-0 top-50 border-noround-right z-5"
    ><i class="pi pi-cog text-2xl"></i
  ></p-button>
</div>
